<nav id="sidebar">
                <div class="sidebar-header">
                  <!--   <h3>{{}}</h3> -->
                  <img src="{{nm}}" id="logo" width="150px" height="120px">
                </div>

                <ul class="list-unstyled components">
                    
                    <li class="active">
                        <a ui-sref="homepage">Home</a>
                        <!-- <a href="" data-target="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="">Home 1</a></li>
                            <li><a href="">Home 2</a></li>
                            <li><a href="">Home 3</a></li>
                        </ul> -->
                    </li>
                    <li>
                        <a ui-sref="new">signup</a>
                        <a href="" data-target="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="">Page 1</a></li>
                            <li><a href="">Page 2</a></li>
                            <li><a href="">Page 3</a></li>
                        </ul>
                        <a ui-sref="charts">Charts</a>
                    </li>
                    <li>
                        <a ui-sref="datatable">Data Table</a>
                    </li>
                    <li>
                        <a ui-sref="imagepreview">Image Upload</a>
                    </li>
                </ul>

                
            </nav>
