<div class="container" >
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<form action="" class="formgroup Login">
				<h2 class="text-center">Login Page</h2>
				<label for="">User ID</label>
				<input type="text" class="form-control" ng-model="username"></input>
				<label for="">Password</label>
				<input type="password" class="form-control" ng-model="password"></input>
				
				<button type="button" class="btn btn-primary btn-block" ng-click="Login()">Login</button>
			</form>
		</div>
	</div>
	
</div>